# Terraform
.terraform/
.terraform.tfstate.lock.info
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Kubeconfig & local artifacts
kubeconfig
*.kubeconfig
**/kubeconfig
**/*.kubeconfig

# Diagram build outputs
docs/architecture.png
docs/architecture.svg

# Editor/OS
.DS_Store
*.swp
